# ignore everything in the root except the "wp-content" directory.
!**/app/public/wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
**/app/public/wp-content/*
!**/app/public/wp-content/mu-plugins/
!**/app/public/wp-content/plugins/
!**/app/public/wp-content/themes/

# ignore these plugins
**/app/public/wp-content/plugins/hello.php

# ignore specific themes
**/app/public/wp-content/themes/twenty*/
**/app/public/wp-content/themes/_*/
**/app/public/wp-content/themes/cure_tcd082/
tcd/**/*
# ignore node dependency directories
**/app/public/wp-content/themes/**/node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

**/conf
**/logs