#footer-nav {
  @media (min-width: 768px) {
    li {
      line-height: 1.5;
      margin-left: 1.5rem;
      font-size: 15px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  li {
    a {
      text-decoration: none;
      color: #295282;
    }
  }
}

#footer {
  .site-info {
    font-size: 13px;
    color: #104088;
    a {
      color: #104088;
    }
  }
}
