#footer-content {
  max-width: 1000px;
  margin-top: 6rem;
  .schedule {
    color: #104088;
    .table-schedule {
      width: 100%;
      text-align: center;
      line-height: 1.7;
      font-size: 16px;
      tr {
        border-bottom: 1px solid #104088;
        th,
        td {
          font-size: 14px;
          padding: 0.3rem 0.4rem;
          letter-spacing: 0.1em;
        }
        @media (min-width: 768px) {
          th,
          td {
            padding: 0.5rem 1.3rem;
          }
        }
        th {
          padding-top: 0;
        }
      }
      & + p {
        font-size: 14px;
        margin: 0.8rem 0 0 0;
      }
    }
  }
  .shop-info {
    color: #104088;
    @media (min-width: 768px) {
      .address {
        font-size: 18px;
      }
    }
    .address {
      font-size: 14px;
      letter-spacing: 0.1em;
    }
  }
}
#footer-nav-wrap {
  .container {
    max-width: 1000px;
    #footer-nav {
      @media (min-width: 768px) {
        li {
          line-height: 1.5;
          margin-left: 1.5rem;
          font-size: 15px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
      li {
        a {
          text-decoration: none;
          color: #295282;
        }
      }
    }
    #sns-nav {
      li {
        line-height: 1.5;
        margin-left: 0.5rem;
        font-size: 18px;
        &:first-child {
          margin-left: 0;
        }
        a {
          text-decoration: none;
          color: #295282;
        }
      }
    }
  }
}

#footer {
  .site-info {
    font-size: 13px;
    color: #104088;
    a {
      color: #104088;
    }
  }
}
