#site-title {
  a {
    color: #3e3e3e;
  }
}

// スマホハンバーガーメニュー
#header-nav {
  #navbarCollapse {
    position: absolute;
    width: 100%;
    right: 0;
    opacity: 0.9;
    background-color: #fff;
    #header-nav {
      li {
        border-top: 1px solid #b4c7dd;
        a {
          display: block;
          padding: 0.5em;
        }
      }
    }
  }
  @media (min-width: 768px) {
    #navbarCollapse {
      position: relative;
      width: auto;
      #header-nav {
        margin-top: 0;
        li {
          padding: 0;
          border-top: none;
        }
      }
    }
  }
  .navbar-toggler {
    background-color: #f0f0f1;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30'
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51, 51, 51, 1)'
    stroke-width='3' stroke-linecap='round'  stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  #tel-phone {
    a {
      color: #3e3e3e;
    }
    .bi-telephone-fill {
      &::before{
        transform: rotate(15deg);
      }
    }
  }
  #access-btn {
    background-color: #8d9cad;
    border: none;
  }
  @media (min-width: 768px) {
    li {
      line-height: 1.5;
      margin-left: 1rem;
      font-size: 15px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  li {
    a {
      text-decoration: none;
      color: #295282;
    }
  }
}
