#archive-news{
  .container{
    max-width: 1000px;
  }
  .news-article {
    cursor: pointer;
    &:first-child {
      border-top: 1px solid #104088;
    }
    .news-title {
      border-bottom: 1px solid #104088;
      &.ui-state-active {
        .bi-arrow-down-circle {
          transform: rotateX(180deg);
        }
      }
    }
  }
}